@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #1B4F72;
  --secondary: #F39C12;
  --accent: #17A589;
  --secondary-background: #F8F9F4;  
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-nunito);
}

body {
  background: var(--background);
  font-family: var(--font-sans);
}
